{% extends '../layouts/base.html' %}
{% load static %}

{% block title %}{{list}}{% endblock title %}

    
{% block head %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'librerias/DataTables/datatables.min.css' %}">
    <script src="{% static 'librerias/DataTables/datatables.min.js' %}"></script>
{% endblock head %}


{% block content %}
<section class="section dashboard">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3 texto">{{ list }}</h5>
            <table id="myTable" class="table" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                        
                            <th scope="row">{{author.id}}</th>
                            <td>{{ author.name }}</td>
                            <td>{{ author.last_name }}</td>
                            <td>{{ author.biography }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% block javas %}
    <script type="application/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                responsive:true,
                dom: '<"top"lfB>rt<"bottom"ip><"clear">',
                buttons: [
                    {
                        extend:'pdfHtml5',
                        text:'<i class="fas fa-file-pdf"></i>',
                        className:'btn-pdf'
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i>',
                        className: 'btn-excel'
                    }, 
                    {
                        extend:'copyHtml5',
                        text: '<i class="fa-solid fa-copy"></i>',
                        className: 'btn-copy',
                    }
                ],
                "language":{
                    url:'{% static "librerias/Datatables/spanish.txt" %}'
                }
            });
        } );

        $.fn.dataTable.ext.errMode = 'none';
    </script>
{% endblock javas %}

{% endblock content %}

