{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'librerias/bootstrap/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'librerias/bootstrap/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'librerias/bootstrap/style.css' %}" rel="stylesheet">
    <title>BIBLIOTECA | {% block title %}{% endblock title %}</title>
    {% block head %}
        
    {% endblock head %}
</head>
<body>
    {% include 'layouts/partials/navbar.html' %}
    {% include 'layouts/partials/sidebar.html' %}
    
    <main id="main" class="main">
        {% block content %}
            
        {% endblock content %}
    </main>
    
    <script src="{% static 'librerias/bootstrap/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'librerias/bootstrap/main.js' %}"></script>

    {% include 'layouts/partials/footer.html' %}
    
    {% block javas %}
        
    {% endblock javas %}
</body>
</html>