{% extends '../layouts/base.html' %}

{% block title %}Lista de Libros{% endblock title %}


{% block content %}
    <div class="card">
        <h5 class="card-title mb-3 texto">{{ l_books }}</h5>
        <div class="card-body">
            <ul>
                {% if books %}
                    {% for book in books %}
                        <li class="li-books">
                            <div class="row cont">
                                <div class="col-md-2">
                                    <img src="{{ book.image.url }}" alt="Imagen del libro {{ book.title }}">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="title-book">{{ book.title }}</h4>
                                    <p class="sub-book">{{ book.author }} | {{ book.category }}</p>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="size-i"><i class="bi bi-eye" ></i></a>
                                    <a href="{% url 'update-book' book.id %}" class="size-i"><i class="bi bi-pencil-square"></i></a>
                                    <a href="#" class="size-i"><i class="bi bi-trash3"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <h3>No hay libros registrados</h3>
                {% endif %}
                    
            </ul>
        </div>
    </div>
{% endblock content %}